@import '../../assets/_variables.scss';

.frame-team-title {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.image-team-title {
  object-fit: cover;
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.service-title-link-icon {
  margin: 0;
}

.content-team-block {
  padding: 30px;
  align-items: flex-start;
  background-color: #f5f5fa;
  .team-title-link {
    text-decoration: none;
    color: $color-blue-link;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 5px;
  }

  .block-member-team {
    margin-top: 30px;
    .name-member-team {
      color: #b3b3ba;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 6px;
    }

    .about-member-team {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #b3b3ba;
    }
  }

  .team-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    overflow-wrap: break-word;
  }
}

@media (min-width: 1024px) {
  .frame-team-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  .content-team-block {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .team-title {
      font-size: 38px;
      line-height: 46px;
    }
  }
}

@media (min-width: 1440px) {
  .frame-team-title {
    grid-template-columns: 400px 1fr;
    grid-auto-rows: 344px;
    .image-team-title {
      min-height: auto;
      min-width: 400px;
    }
  }
}

@media (min-width: 1920px) {
  .frame-team-title {
    grid-auto-rows: 298px;
  }
  .team .wrapper {
    margin-left: 160px;
    margin-right: 160px;
  }
}
