@use "sass:string";

$icon-Coprorate: string.unquote('"\\e901"');

$icomoon-font-family: "hlegal" !default;
$icomoon-font-path: "fonts" !default;

$icon-Trust: string.unquote('"\\e900"');
$icon-Court: string.unquote('"\\e902"');
$icon-Ecommerce: string.unquote('"\\e903"');
$icon-Protection: string.unquote('"\\e906"');
$icon-Support: string.unquote('"\\e907"');