$icomoon-font-family: "hlegal" !default;
$icomoon-font-path: "fonts" !default;

$icon-Trust: unquote('"\\e900"');
$icon-Coprorate: unquote('"\\e901"');
$icon-Court: unquote('"\\e902"');
$icon-Ecommerce: unquote('"\\e903"');
$icon-Protection: unquote('"\\e906"');
$icon-Support: unquote('"\\e907"');