@import '../../assets/_variables.scss';

.publication {
  background-color: #F5F5FA;
}

.facebook-icon {
  color: $color-blue-link;
}

.service-title-link {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  color: $color-blue-link;
  gap: 2px;
  margin-bottom: 5px;
  margin-top: 10px;

  &:hover {
    color: $color-card-1;

    .hover-icon-title-link {
      stroke: $color-card-1;
    }
  }
}

.publication__cards {
  margin-top: 30px;
  display: grid;
  gap: 60px;
}

.server-title-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.publication__title {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow-wrap: break-word;
}

.publication__card {
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;

  .publication__card__image {
    width: 100%;
  }

  .publication__card__information {
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;

    .publication__card__information__link {
      text-decoration: none;
    }

    .publication__card__information__date {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #B3B3BA;

      &:after {
        content: '';
        display: block;
        border-bottom: 4px solid #E6E6F0;
        margin-top: 15px;
      }
    }

    .publication__card__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    .publication__card__information__title {
      color: $color-blue-link;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (min-width: 768px) {
  .publication__cards {
    padding-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    .publication__card:nth-child(3) {
      grid-column: 1/-1;
    }
  }
}

@media (min-width: 1024px) {
  .publication__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .publication__card:nth-child(3) {
      grid-column: auto;
    }
  }


}