@import '../../assets/_variables.scss';
.header__logo {
  height: 32px;
}

.navigation {
  display: none;
}

.navigation-mobile {
  border: none;
  background: none;
  padding: 0;
  display: flex;

  &:active {
    border-radius: 8px;
    border: none;
    background-color: #E6E6F0;
  }
}

.active-nav-mobile {
  border-radius: 8px;
  border: none;
  background-color: #E6E6F0;
}

.change-language__item {
  border: none;
  color: #FFFFFF;
  background: none;
  border-radius: 8px;
  padding: 5px 7px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.active__change-language {
  background-color: $color-card-1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.header__home {
  margin-bottom: 129px;
}

.arrow-link {
  display: inline-flex;
  margin-bottom: 30px;
  scroll-behavior: smooth;
}

.arrow-link__block {
  text-align: center;
}

.logo {
  display: flex;
  align-items: start;
  margin-top: 15px;
  gap: 4px;
  text-decoration: none;
}

.contact__number {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  &:hover {
    color: $color-card-1;
  }
}

.facebook-icon-header {
  color: #FFFFFF;
  &:hover {
    color: $color-card-1;
  }
}

.header__name-page {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.splash__block {
  background-image: url("../../assets/image/symbol/logo-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.splash__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 159px;
  color: #ffffff;
}





.frame-title {
  padding-top: 30px;
  margin-bottom: 30px;

  .service-title-link {
    text-decoration: none;
    color: $color-blue-link;
    margin: 0;
    display: inline-flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    font-weight: 700;
    gap: 2px;
    &:hover {
      color: $color-card-1;

      .hover-icon-title-link {
        stroke: $color-card-1;
      }
    }
  }
  .service-title {
    background: $gradient-text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-top: 10px;
  }
}

.navigation__menu-mobile {
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-radius: 12px 12px 0 0;
}

.nav-elements {
  display: flex;
  flex-direction: column;
  right: 8px;
  padding-top: 12px;
}

.close__menu__nav__mobl {
  border: none;
  display: flex;
  background: none;
  transition-duration: 0.4s;
  padding: 0;
  &:hover {
    cursor: pointer;
    transform: rotate(180deg);
  }
}

.btn-close-nav {
  margin-left: auto;
  margin-right: 12px;
  border-radius: 12px 12px 0 0;
}

.nav-block-element {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 15px;
  padding: 20px 12px 12px 12px;
}

.navigation__menu-mobile__item {
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $color-blue-link;
  text-decoration: none;
  width: 100%;
  text-align: center;
  align-content: center;
  border-radius: 12px;
  background-color: #F5F5FA;

  &:hover {
    color: $color-card-1;
  }

  &:active {
    background-color: #E6E6F0;
  }
}

.nav__links {
  display: none;
  gap: 15px;
  &:hover:after {
    position: relative;
  }
}
.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}


.navigation-desktop {
  flex-direction: column;
  align-items: end;
  gap: 16px;
  display: none;
}

@media (min-width: 768px) {
  .splash {
    margin-bottom: 80px;
  }
  .locale-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B3B3BA;
    text-decoration: none;
  }
  .contacts-mobile {
    display: none;
  }
  .nav__links {
    display: flex;
    :hover {
      &:after {
        content: "";
        display: block;
        border-bottom: 2px solid #ffffff;
        margin-top: 3px;
        position: relative;
      }
    }
  }
  .slash-mobile {
    display: none;
  }
  .navigation-mobile {
    display: none;
  }
  .header__name-page {
    display: none;
  }
  .header__logo {
    height: 60px;
  }
  .header {
    justify-content: start;
    flex-direction: column;
    padding-top: 50px;
    align-items: flex-start;
    margin-right: 60px;
    margin-left: 60px;
    gap: 30px;
    margin-bottom: 269px;
  }
  .splash__title {
    margin-bottom: 417px;
  }
  .service-card {
    grid-template-columns: repeat(
			auto-fit,
                    minmax(294px, 1fr)
		);
  }
  .wrapper {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: 1024px) {
  .header {
    margin-bottom: 245px
  }
  .splash__title {
    margin-bottom: 289px;
  }
  .service-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet {
    display: none;
  }
  .header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navigation-desktop {
    display: flex;
  }
  .navigation-desktop__item {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .splash__block {
    background-size: contain;
  }
}



@media (min-width: 1920px) {
  .service-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 361px;
  }
  .splash__title {
    margin-bottom: 405px;
  }
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-radius: 12px 12px 0 0;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 12px 12px 12px;
}
.close__button-nav-mobile {
  margin-left: auto;
  margin-right: 12px;
  border: none;
  display: flex;
  background: none;
  transition-duration: 0.4s;
  padding: 0;
  &:hover {
    cursor: pointer;
    transform: rotate(180deg);
  }
}
.background-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .broder-splash {
    border-bottom: 10px solid #cacadb;
    border-radius: 0 0 12px 12px;
    width: calc(100% - 40px);

    &:nth-child(2) {
      width: calc(100% - 80px);
      border-bottom: 10px solid #e7e7f2;
    }
  }
}
.background-gradient {
  position: relative;
  background: linear-gradient(to bottom left, #323264 12%, #643e72 87%);
  border-radius: 0 0 12px 12px;
  padding-bottom: 60px;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid #cacadb;
    border-radius: 0 0 12px 12px;
    width: calc(100% - 40px);
  }

  &::before {
    bottom: -10px;
  }

  &::after {
    width: calc(100% - 80px);
    border-bottom-color: #e7e7f2;
    bottom: -20px;
  }
}