.clients {
  margin-bottom: 60px;
}

.clients-cards {
  display: grid;

  .clients-card {
    align-content: center;
    text-align: center;
    height: 120px;

    &:nth-child(1) {
      background-color: #1c4280;
    }

    &:nth-child(2) {
      background-color: #143646;
    }

    &:nth-child(3) {
      background-color: #f48b30;
    }

    &:nth-child(4) {
      background-color: #9e4dc3;
    }

    &:nth-child(5) {
      background-color: #fd9339;
    }

    &:nth-child(6) {
      background-color: #e2e2e4;
    }

    &:nth-child(7) {
      background-color: #c71c36;
    }

    &:nth-child(8) {
      background-color: #dcf3f9;
    }

    &:nth-child(9) {
      background-color: #eaeaea;
    }

    &:nth-child(10) {
      background-color: #282240;
    }

    &:nth-child(11) {
      background-color: #1d4568;
    }

    &:nth-child(12) {
      background-color: #000000;
    }
  }
}

.clients-title-center {
  text-align: center;
  margin-bottom: 30px;

  .clients-title {
    margin-top: 60px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    color: #323264;
  }
}

@media (max-width: 768px) {
  .clients-card {
    &:nth-child(n + 7) {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .clients-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 1024px) {
  .clients-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 1920px) {
  .clients-cards {
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    grid-auto-rows: auto;
    border-radius: 12px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
