@import '../../assets/_variables.scss';

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #F5F5FA;
}

.footer__locale-address {
  color: $color-blue-link;
}

.footer__copyright {
  margin-bottom: 30px;
  color: #B3B3BA;
}

.contact-link__facebook__icon {
  fill: $color-blue-link;
}

.address-on-map {
  &:before {
    content: "";
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #E6E6F0;
  }
}

.address-on-map {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.address-on-map-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__locale-address {
  text-decoration: none;
}

.contact-link {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  gap: 10px;
  text-decoration: none;
  margin-bottom: 30px;

  .contact-link__tel {
    text-decoration: none;
    color: #46466E;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .contact-link__mail {
    text-decoration: none;
    color: $color-blue-link;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      color: $color-card-1;
    }
  }
}

.facebook-icon {
  color: $color-blue-link;
  &:hover {
    color: $color-card-1;
  }
}

#facebook-icon:hover {
  color: $color-card-1;
}

.footer {
  display: none;
}

@media (min-width: 768px) {
  .mobile-footer {
    display: none;
  }
  .footer-head {
    display: flex;
    justify-content: space-between;

  }
  .address-on-map:before {
    display: none;
  }
  .contact-link {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
  footer {
    display: block;
    text-align: start;
  }
  .footer {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #E6E6F0;
  }
  .contact-link > *:not(:last-child)::after {
    content: "";
    display: inline-flex;
    height: 6px;
    width: 6px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #B3B3BA;
    border-radius: 50%;
  }

  .contact-link__facebook {
    display: flex;
    align-items: center;
  }
  .contact-link .contact-link__tel {
    display: flex;
    align-items: center;
  }
}